* , *::before , *::after{
    margin: 0; 
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
#Wrapper{
    height: 100vh;
    width: 100vw;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}

.heading{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 30px;

}

.Search-container{
    margin: 0 auto;
    margin-top: 4rem;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
}

.Tab{
    font-size: normal;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
    width: fit-content;
}

.Tab.current-tab{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(219, 226 ,239,0.5);
    width: fit-content;
}

.weather-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grant-location.active{
    display: flex;
}
.sub-container{
    font-weight: 500;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.grant-location{
    display: none;
}
.grant-location .location-head{
    margin-top: 20px;
    font-size: 1.7rem;
    font-weight: bold;
}


.accessBtn{
    /* all: unset; */
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--colorDark2);
    color: var(--colorLight2);
    padding: 10px 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}


/* Loading Screen css */
.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}
.loading-container p:first-of-type{
    text-transform: uppercase;
    text-align: center;
}

.display-container.active{
    display: flex;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 10px; 
}
.name .Location{
    font-size: 2.5rem;
    font-weight: 100;
}
.name img{
    height: 25px;
}
.temp{
    font-size: 3rem;
    font-weight: bolder;
}
.Weather{
    font-size: x-large;
    
}
.card-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 160px;
    background-color: rgba(219, 226 ,239,0.5);
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}
.card-img{
    height: 50px;
    width: 50px;
}
.display-container{
    display: none;
}
.value{
    font-weight: normal;
    opacity: 80%;
    font-size: large;
}




.form-container.active{
    display: flex;
}

.form-container{
    margin: 0 auto;
    margin-top: 4rem;
    width: 100%;
    max-width: 550px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.form-container .input-field {
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    color: var(--colorLight2);
    padding: 10px 15px;
    font-size: large;
    background-color: rgba(219, 226 ,239,0.5);

}
.input-field:focus{
    border: 2px solid var(--colorLight1);
}
.input-field::placeholder{
    padding: 10px 15px;
    color: white;
    opacity: 70%;
    font-size: large;
}

.form-container  .btn{
    border: none;
    outline: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    color: black;
    background-color: var(--colorDark2);
}

.form-container{
    display: none;
}